.wrapper{
    background-color:#f72e43;
    min-height:800px
}

.form{
    margin-top:90px;
    margin-left:70px;
    margin-right:70px;
    background-color:#fff;
    box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
    min-height:400px;
    border-radius:5px 5px 10px 10px;
    position:relative
}

.form .input-container{
    padding:30px 30px 0 30px;
    height:400px
}

.form h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px;
    color:#4c4c4c
}

.title h1{
    text-align:center;
    margin-top:50px;
    color:#fff
}

.login h2{
    text-transform:uppercase;
    text-align:center;
    margin-top:50px!important;
    color:#4c4c4c
}

.form p{
    text-transform:uppercase;
    text-align:center;
    color:#9e9e9e
}

.form input{
    display:block;
    width:100%;
    line-height:28px;
    background-color:#f5f5f5;
    padding:7px 10px;
    margin-top:20px;
    border-style:solid;
    border-color:#dad6d6;
    outline:0
}

.btn{
    width:50%;
    height:70px;
    bottom:0;
    border:0;
    font-size:24px
}

.btn:focus{
    color:#fff
}

.button-group{
    positon:relative;
    background-color:transparent;
    width:100%;
    display:flex;
    border-radius:5px 5px 5px 5px
}

.login-btn{
    background-color:#17b3be;
    border-radius:0 0 0 5px;
    color:#fff
}

.login-btn:hover{
    background-color:#018b94;
    color:#fff
}

.signup-btn{
    background-color:#ed3c3a;
    border-radius:0 0 5px 0;
    color:#fff
}

.signup-btn:hover{
    background-color:#c42d2b;
    color:#fff
}

.submit-btn{
    float:right;
    margin-top:15px;
    margin-bottom:15px;
    background-color:#6d6a6a;
    color:#fff;
    width:30%;
    height:30px;
    bottom:0;
    border:0;
    font-size:14px
}

.submit-btn:hover{
    background-color:#565353;
    color:#fff
}

.avatar-wrapper{
    background-color:#fff;
    width:119px;
    height:120px;
    position:absolute;
    top:-53px;
    left:40%;
    border-radius:50%
}

@media only screen and (min-width:1024px){
    .avatar-wrapper{
        left:30%!important
    }
}

@media only screen and (min-width:1200px){
    .avatar-wrapper{
        left:35%!important
    }
}

.avatar{
    width:112px;
    height:112px;
    position:absolute;
    top:6px;
    left:2%
}

.login{
    display:none
}
    